[submodule "plugins/Typecho-CodePrettify"]
	path = plugins/CodePrettify
	url = https://github.com/HyanCat/Typecho-CodePrettify.git
[submodule "plugins/Typecho-GitHubShow"]
	path = plugins/GitHubShow
	url = https://github.com/HyanCat/Typecho-GitHubShow.git
[submodule "plugins/Typecho-MuPlayer"]
	path = plugins/MuPlayer
	url = https://github.com/HyanCat/Typecho-MuPlayer.git
[submodule "themes/LightClear"]
	path = themes/LightClear
	url = https://github.com/HyanCat/Typecho-LightClear.git
[submodule "themes/Nicy"]
	path = themes/Nicy
	url = https://github.com/HyanCat/Typecho-Nicy.git
